.first-section img {
  width: 100%;
  height: auto;
}

.content {
  margin: 0 22px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
  margin-top: 40px;
}

h3 {
  position: absolute;
}

p {
  font-size: 15px;
  line-height: 25px;
}

.button {
  background-color: #f94f4f;
  display: block;
  margin: 40px 0;
  padding: 16.5px 0;
  width: 40vw;
  text-decoration: none;
  font-weight: 700;
  color: white;
  text-align: center;
}

.second-section {
  padding-bottom: 80px;
  background-color: #191921;
  color: white;
}

.svg_element {
  position: relative;
  top: -15px;
  left: 24px;
  width: 60px;
}

.link {
  color: #f94f4f;
  text-underline-offset: 10px;
  margin-bottom: 5vh;
}

.second-section img:first-child {
  width: 100%;
  height: auto;
}

.third-section {
  background-color: #f94f4f;
  height: fit-content;
  position: absolute;
  color: white;
  padding-bottom: 80px;
}

.numbers {
  opacity: 0.3;
  font-size: 80px;
  font-weight: 900;
  position: relative;
  top: 8px;
  margin: 60px 0 50px 0;
}
