.content {
  margin: 0 22px;
  position: relative;
}

.tablet-img,
.desktop-img {
  display: none;
}

.mobile-img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  position: absolute;
}

p {
  font-size: 15px;
  line-height: 25px;
}

.button {
  background-color: #f94f4f;
  display: block;
  margin: 40px 0;
  padding: 16.5px 0;
  width: 40vw;
  text-decoration: none;
  font-weight: 700;
  color: white;
  text-align: center;
}

.second-section {
  padding-bottom: 80px;
  background-color: #191921;
  color: white;
  height: fit-content;
  position: relative;
}

.svg_element {
  position: relative;
  top: -15px;
  left: 24px;
  width: 60px;
}

.link {
  color: #f94f4f;
  text-underline-offset: 10px;
  margin-bottom: 5vh;
}

.second-section img:first-child {
  width: 100%;
  height: auto;
}

.third-section {
  background-color: #f94f4f;
  height: fit-content;
  color: white;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-bottom: 0px;
}

.numbers {
  opacity: 0.3;
  font-size: 80px;
  font-weight: 900;
  position: relative;
  top: 8px;
  margin: 60px 0 50px 0;
}

.fourth-section {
  background-color: #191921;
  color: white;
  height: fit-content;
  margin: 0;
}

.slider-container {
  position: absolute;
}

.slider-buttons {
  position: relative;
  top: 50%;
  top: 600px;
}

#prev-button {
  position: absolute;
  left: 15px;
  background-color: transparent;
  border: none;
}

#next-button {
  position: relative;
  left: 65px;
  background-color: transparent;
  border: none;
}

.slider-container {
  position: absolute;
}

.slider-image {
  width: 100vw;
  position: absolute;
  margin: 0;
}

.slider-content {
  position: relative;
  width: 100vw;
  height: 350px;
}

.slider-content__h2 {
  position: absolute;
  top: 380px;
  background-color: #191921;
  padding: 70px 25px 0 25px;
  margin-bottom: 0;
  height: 280px;
}

.fifth-section {
  height: fit-content;
  background-color: white;
  position: relative;
  top: 700px;
  padding: 20px 0 50px 0;
}

.white_svg {
  display: none;
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .mobile-img,
  .desktop-img {
    display: none;
  }

  .tablet-img {
    display: block;
    position: relative;
    width: 60vw;
    height: auto;
  }

  .first-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .content {
    width: 40vw;
    padding-left: 3vw;
  }

  .button {
    width: 50%;
  }

  .second-section {
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: white;
  }
  .second-section p {
    width: 35vw;
  }

  .svg_element {
    width: 10vw;
    height: 3vh;
    left: -35px;
    top: -100px;
    z-index: 1;
  }

  .content_tablet {
    left: -100px;
    top: -32px;
    max-width: 60vw;
    background-color: #191921;
    padding: 86px;
  }

  .content_tablet h2 {
    width: 30vw;
    top: -20px;
  }

  .third-section {
    background-color: white;
  }

  .content_third_section {
    display: flex;
    width: 90vw;
    padding: 5vh 30vw 10vh 30vw;
  }

  .title {
    color: #191921;
    position: absolute;
    padding: 50px;
    z-index: 1;
    width: 40vw;
    left: 0;
    top: -40px;
  }

  .listing {
    height: fit-content;
    background-color: #f94f4f;
    position: relative;
    top: -290px;
    left: 0;
    padding: 5vh 30vw 10vh 15vw;
  }

  .slider-content__h2 {
    background-color: #191921;
    max-width: 30vw;
    display: inline-block;
    padding: 10px 80px 80px 60px;
    position: absolute;
    top: -490px;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .slider-content {
    background-color: white;
    top: -10px;
  }

  .slider-image {
    max-width: 60vw;
    height: 500px;
    position: absolute;
    right: 0;
    top: -490px;
  }

  .slider-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .slider-buttons {
    top: -260px;
    z-index: 1;
    left: 35px;
  }

  .white_svg {
    display: block;
    position: relative;
    z-index: 1;
    top: -400px;
    left: 40vw;
    width: 10vw;
  }

  .fourth-section {
    height: fit-content;
  }

  .fifth-section {
    top: -50px;
  }
}

/* For laptops and desktops with small screens */
@media (min-width: 1024px) {
  .mobile-img,
  .tablet-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }
}
