@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
}

a {
  color: #000;
}

.navbar {
  background-color: transparent;
}

.header {
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  z-index: 3;
  height: 13vh;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 16.5px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.header li:first-child {
  margin-top: 20px;
}

.button-menu {
  background-color: #f94f4f;
  margin: 20px;
  border: solid 1px black;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.logo {
  display: block;
  float: left;
  margin: 4vh 0 0 6vw;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out, transform 0.8s ease-out;
  background-color: #191921;
  width: 67%;
  transform: translateX(26vw);
  border: none;
  position: absolute;
}

.header .menu-btn:checked ~ .menu {
  max-height: fit-content;
  transform: translateX(-30);
  transition: max-height 0.2s ease-out, transform 0.8s ease-out;
  margin-top: 13vh;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 45px 25px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: grey;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 22px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: grey;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: fit-content;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 0;
  }

  .logo {
    margin: 0 0 0 5vw;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  .header .menu {
    clear: none;
    max-height: none;
    margin: 0;
    height: 100%;
    background-color: #f94f4f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(0);
    right: 0;
  }

  .header .menu-icon {
    display: none;
  }

  .button-menu {
    background-color: #191921;
  }

  .navbar .menu {
    float: right;
    width: 60vw;
  }

  .header li:first-child {
    margin: 0;
  }
}
